<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    img{
        width: 25%;
    }
</style>


<body>
    <form action="inputDetails">

        <label >
            <img src="https://picsum.photos/id/684/600/400" alt="">
            <input type="radio"  name="item" value="1">
        </label>

        <label >
            <img src="https://picsum.photos/id/123/600/400" alt="">
            <input type="radio"  name="item" value="2">
        </label>

        <label >
           <img src="https://picsum.photos/id/612/600/400" alt="">
            <input type="radio" name="item" value="3">
        </label>

       
        <input type="submit" value="send">
        

    </form>




</body>
</html>